.book-container {
  display: flex;
  width: 100%;
}

.book-list {
  width: 30%;
  padding: 10px;
}

.book-details {
  width: 70%;
  padding: 10px;
}

.book {
  cursor: pointer;
  color: #ffffffde;
}

.book:hover {
  color: #646cff;
}