.book-container {
  display: flex;
  width: 100%;
}

.book-list {
  width: 50%;
  padding: 10px;
}

.book-list-wrapper {
  min-height: 300px;
}

.book-details {
  width: 50%;
  padding: 10px;
}

.book {
  cursor: pointer;
  /* color: #ffffffde; */
}

.book:hover {
  color: #90caf9;
}

.edit-book {
  display: flex;
  flex-direction: column;
}