/* unused */
.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.navbar a {
  margin-right: 1rem;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.user-panel {
  align-self: flex-end;
  margin-left: auto;
}

.user-panel a {
  margin-left: 1rem;
  margin-right: 0;
}
